asgiref==3.8.1
Django==5.1.1
django-axes==6.5.2
django-otp==1.5.4
django-redis==5.4.0
django-tenants==3.7.0
phonenumbers==8.13.46
psycopg2-binary==2.9.9
redis==5.0.8
sqlparse==0.5.1
tzdata==2024.1
passlib==1.7.4
